# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# Virtual env
venv/
env/
.venv/

# Django / DB
db.sqlite3
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
**/docker-compose.override.yml

# Logs
*.log

# Secrets / local env
.env

